<%= simple_form_for [@project, @issue] do |f| %>
  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :title, label: "Тема" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :description, label: "Описание" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.select :assigned_to_id, User.all.collect {|user| [ "#{user.name} (#{user.email})", user.id ] }, prompt: "Выбор исполнителя"%>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.select :status_id, IssueStatus.all.collect {|status| [ status.name, status.id ] }, prompt: "Выбор статуса"%>
    </div>
  </div>

  <%= f.button :submit, "Сохранить", class: 'btn btn-primary'%>
<% end %>

