<% provide :page_title, 'Задачи' %>
<% currently_at 'Задачи' %>
<div class ="projects">
  <div class="col-md-12">
    <% unless params[:project_id].nil? %>
      <h1>Задачи проекта  <%= link_to "#{sanitize @project.name}", project_path(@project),
                                      class: 'px-2 text-black' %>:</h1>
      <%= link_to "Создать задачу", new_project_issue_path, class: 'btn btn-primary btn-lg mb-3' %>
    <% end %>
    <%= pagination(@pagy) %>

    <div class="col-md-4 my-3">
      <%= simple_form_for :issue, method: :get  do |f| %>
        <div class="mb-2">
          <div class="col-sm-10">
            <%= f.input :status_id, collection: IssueStatus.all, label_method: :name, value_method: :id,label: "Выбор статуса", required: false %>
          </div>

        </div>
        <div class="mb-2">
          <div class="col-sm-10">
            <%= f.input :title, label: "Тема", required: false %>
          </div>
        </div>

        <div class="mb-2">
          <div class="col-sm-10">
            <%= f.button :submit, "Искать задачи", class: "btn btn-primary"  %>
          </div>
        </div>

      <%end%>
    </div>
  <hr/>

     <% if @issues.present? %>
      <%= render partial: 'issues', collection: @issues, as: :issue, locals: {issue: @issues} %>
    <%end %>
    <%= link_to "Назад", projects_path, class: 'btn btn-primary my-3' %>
  </div>
  <%= pagination(@pagy) %>
</div>