<% provide :page_title, 'Задачи' %>
<% currently_at 'Задачи' %>
<div class ="projects">
  <div class="col-md-12">
    <% unless params[:project_id].nil? %>
      <h1>Задачи проекта  <%= link_to "#{sanitize @project.name}", project_path(@project),
                                      class: 'px-2 text-black' %>:</h1>
      <%= link_to "Создать задачу", new_project_issue_path, class: 'btn btn-primary btn-lg mb-3' %>
    <% end %>
    <%= pagination(@pagy) %>

    <form class="mb-4" method="GET">
      <span>название задачи:</span>
      <input  type="text" name="title" >
      <span>статус:</span>
      <select class="btn btn-sm btn-outline-secondary " name="status_id" >
        <option value="">Все</option>
        <% IssueStatus.all.each do |status| %>
          <option  value="<%= status.id %>"><%= "#{status.name}" %></option>
        <% end %>
      </select>
      <input class="btn btn-sm btn-outline-secondary me-md-2" type="submit" value="Искать проект">
    </form>
  <hr/>

     <% if @issues.present? %>
      <%= render partial: 'issues', collection: @issues, as: :issue, locals: {issue: @issues} %>
    <%end %>
    <%= link_to "Назад", projects_path, class: 'btn btn-primary my-3' %>
  </div>
  <%= pagination(@pagy) %>
</div>