<% provide :page_title, 'News edit' %>
<% currently_at 'News edit' %>
<div class="md-4">
  <div class="card shadow mb-3">
    <section class="card-header">
      <time  datetime="<%@issue.formatted_created_at %>">
        <%= @issue.formatted_created_at %>
      </time>
    </section>

    <div class="card-body">
      <h4>Текущий проект: <span class="current_project"><%= link_to "#{sanitize @project.name}", project_path(@project), class: 'px-2 text-black' %></span></h4>
      <hr/>
      <h4><span class="title"><%= " Тема: #{sanitize @issue.title}" %></span></h4>
        <hr/>
        <span class="status" ><%= " статус: #{@issue.status_id}" %></span>
        <br>
        <p>Описание:</p>
        <span class="description"><%= sanitize @issue.description %></span>
        <hr/>

      <div class="mt-8">
        <%= link_to "Назад", project_issues_path(@project), class: 'btn btn-primary' %> |
        <%= link_to "Редактировать",  edit_project_issue_path(@project, @issue), class: 'btn btn-primary' %> |
        <%= link_to "Удалить", project_issue_path(@project, @issue), data: {
          method: :delete,
          confirm: "Удалить новость #{@issue.description} ?"
        }, class: 'btn btn-danger' %>
      </div>
    </div>
  </div>

</div>

