<%= simple_form_for @user do |f| %>
  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :name, label: "Имя пользователя" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.select :role, Role.all.collect {|role| [ role.name, role.id ] } %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :admin, label: "Пользователь администратор ?" %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :active, label: "Учетная запись активная?" %>
    </div>
  </div>

  <%= f.button :submit, "Сохранить", class: 'btn btn-primary'%>
  <%= link_to "Назад", users_path, class: 'btn btn-primary' %>
<% end %>

