<%= provide :main_menu do %>
  <header class ="p-3 bg-dark text-white">
    <div class ="container">
      <nav class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <%= nav_tab 'Home', home_path, class: 'nav-link px-2', current_page: current_page %>
          <%= nav_tab 'Все новости', news_index_path, class: 'nav-link px-2', current_page: current_page %>
          <%= nav_tab 'Настройки', settings_path, class: 'nav-link px-2', current_page: current_page %>
        </ul>
        <ul class ="d-flex justify-content-end mb-md-0">
          <ul class="dropdown">
              <%= link_to " #{current_user.name_or_email}", '',
                          class: "nav-link px-2 dropdown-toggle text-white", data:{"bs-toggle": 'dropdown'} %>

            <ul class="dropdown-menu">
              <li>
                <%= link_to "Редактировать", edit_user_registration_path, class: "nav-link px-2 text-black" %>
              </li>
              <li>
                <%= link_to "Выход", destroy_user_session_path, data: { turbo_method: :delete}, class: "nav-link px-2 text-black" %>
              </li>
            </ul>
          </ul>
          <!-- Выводим ссылку на выход -->

        </ul>
      </nav>
    </div>
  </header>
<% end %>
