<div class="card shadow mb-3">
  <section class="card-header">
    <%= image_tag user_avatar(news.user, 40), class: 'rounded'%>
    <%= news.user.name_or_email %>
    <%= "(#{news.user.email})" if news.user.name.present?%>
      <time  datetime="<%news.formatted_created_at %>">
        <%=news.formatted_created_at %>
      </time>
  </section>
  <div class="card-body">
    <h4><span class="news"><%= sanitize news.title %></span></h4>
    <p>
      <span class="description"><%= truncate( sanitize(news.description), length: 150, omission:"...") {link_to "читать полностью", news_path(news)} %> </span>
      <div class="mt-8">
        <%= link_to "Редактировать", edit_news_path(news), class: 'btn btn-primary' %> |
        <%= link_to "Удалить", news_path(news), data: {
          method: :delete,
          confirm: "Удалить новость #{news.title} ?"
        }, class: 'btn btn-danger' %>
      </div>
    </p>
  </div>
</div>
<hr/>