<%= simple_form_for @project do |f| %>
  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :name %>
    </div>
  </div>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :homepage %>
    </div>
  </div>

  <% if @project.id.present? %>
    <div class="mb-3">
      <div class="col-sm-10">
        <%= f.input :project_status_id, label: "Статус:", collection: ProjectStatus.all, label_method: :name,
                    value_method: :id, :include_blank => false %>
      </div>
    </div>
  <% end %>

  <div class="mb-3">
    <div class="col-sm-10">
      <%= f.input :description %>
    </div>
  </div>

  <%= f.button :submit, "Сохранить", class: 'btn btn-primary'%>
<% end %>

