<% provide :page_title, 'Проекты' %>
<% currently_at 'Проекты' %>
<div class ="projects">
  <div class="col-md-12">
    <h1>Проекты:</h1>
    <%= link_to "Создать проект", new_project_path, class: 'btn btn-primary btn-lg mb-3' %>
    <%== pagy_bootstrap_nav @pagy %>

    <form class="mb-4" method="GET">
      <span>название проекта:</span>
      <input  type="text" name="search_project" >
      <span>статус:</span>
      <select class="btn btn-sm btn-outline-secondary " name="filter_status" >

        <% @project_statuses.each do |status| %>

           <option  value="<%= status.id %>"><%= "#{status.name}" %></option>
        <% end %>
      </select>
        <input class="btn btn-sm btn-outline-secondary me-md-2" type="submit" value="Искать проект">
    </form>

    <% if @projects.present? %>
      <%= render partial: 'projects', collection: @projects, as: :project, locals: {project: @projects} %>
    <%end %>
  </div>
  <%== pagy_bootstrap_nav @pagy %>
</div>