<% provide :page_title, 'Проекты' %>
<% currently_at 'Проекты' %>
<div class ="projects">
  <div class="col-md-12">
    <h1>Проекты:</h1>
    <%= link_to "Создать проект", new_project_path, class: 'btn btn-primary btn-lg mb-3' %>
    <%= pagination(@pagy) %>

    <form class="mb-4" method="GET">
      <span>название проекта:</span>
      <input  type="text" name="project_name" >
      <span>статус:</span>
      <select class="btn btn-sm btn-outline-secondary " name="status_id" >
        <option value="">Все</option>
        <% ProjectStatus.all.each do |status| %>
           <option  value="<%= status.id %>"><%= "#{status.name}" %></option>
        <% end %>
      </select>
        <input class="btn btn-sm btn-outline-secondary me-md-2" type="submit" value="Искать проект">
    </form>

    <% if @projects.present? %>
      <%= render partial: 'projects', collection: @projects, as: :project, locals: {project: @projects} %>
    <%end %>
  </div>

  <%= pagination(@pagy) %>
</div>