<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>TmbDisposal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>

  </head>

  <body>
    <header class ="p-3 bg-dark text-white">
      <div class ="container">
        <nav class="d-flex flex-warp align-items-center justify-content-center justify-content-lg-start">
         <%= link_to "home", home_path, class: 'nav-link px-2 text-white' %>
        </nav>
      </div>
    </header>
    <main class ="container mt-3">
      <%= yield %>
    </main>
  </body>
</html>
